/* style.css file */
html,
body {
    margin: 20px;
}
.hero {
    text-align: center;
    padding: 100px 20px;
    background: #2196f3;
    color: white;
}
@media (max-width: 600px) {
    .hero {
        padding: 50px 10px;
    }
}